body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif !important;
}

/*#case-study > p > span,  #case-study > p, #case-study > span, #case-study > table > span {*/
#case-study * {
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 18px !important;
  line-height: 1.8em !important;
  color: #333 !important;
}

#case-study > h1, #case-study > h1 > span {
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 32px !important;
  line-height: 1.8em !important;
  color: #333 !important;
}

#case-study > h2, #case-study > h2 > span {
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 28px !important;
  line-height: 1.8em !important;
  color: #333 !important;
}

.button.button-primary {
  background-color: #417282;
  border-color: #417282;
}

.bold {
  font-weight: bold;
}

section.banner {
  text-align: center;
  min-height: 14em;
  background-image: url('http://i.imgur.com/ROkPKjx.jpg');
  margin-bottom: 1em;
  background-size: cover;
  background-repeat: repeat-x;
  zoom: reset;
}

@media (min-width: 750px) {
  section.banner {
    min-height: 50em;
    margin-bottom: 3em;
    background-image: url('http://i.imgur.com/ROkPKjx.jpg');
    zoom: reset;
  }
}

.no-padding {
  padding: 0;
}

section.safety-app-banner {
  /*text-align: left;*/
  /*min-height: 40em;*/
  background-image: url('https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fsafety_apps.jpg');
  margin-bottom: 3em;
  background-size: cover;
}

section.cctv-banner {
  /*text-align: left;*/
  /*min-height: 40em;*/
  background-image: url('https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fcctv.jpg');
  margin-bottom: 3em;
  background-size: cover;
}

@media (min-width: 750px) {
  section.banner {
    text-align: center;
  }
}

section.banner h1 {
  padding-top: 1em;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 750px) {
  section.banner h1 {
    padding-top: 4em;
  }
}

section.banner p {
  color: #fff;
  padding: 1em;
}

@media (min-width: 750px) {
  section.case-studies {
    /* padding-left: 5em; */
  }
  
  section.big-data {
/*     padding-left: 5em; */
  }
}

.title-background {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.3em;
}

p.intro-text {
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
}

section.big-data {
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
}

section.big-data p {
  color: #000;
}

.safety-app {
  background: url('https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fsafety_apps_preview.png');
  background-size: cover;
}

.phone-ban {
  background: url('https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fphone_ban_preview.png');
  background-size: cover;
}

.garment-bg {
  background: url('https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fcctv_preview.png');
  background-size: cover;
}

.big-data-bg {
  background: url('https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Focean-small.jpg');
}

.case-study-btn-container {
  text-align: left;
}

.tile {
  margin-top: 1em;
}

.tile-container {
  margin-left: 2%;
}

.tile > h4, .tile > h3 {
  color: #fff;
}

.tile > p {
  color: #fff;
}

@media (min-width: 750px) {
  footer {
    padding-left: 2em;
  }
}

section.case-study-content {
    line-height: 1.7em;
    font-size: 20px;
    font-weight: normal;
}

h4.read-next {
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 2em;
}

h5.sub-page-site-header {
  margin-bottom: 4px;
  text-align: center;
}

h5.sub-page-site-header > a {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 5em;
}

h2.case-studies {
  text-align: center;
}

.tile-big-data {
  background-color:#565454;
}

.center {
  text-align: center;
}

p.bigger {
  font-size: 18px;
}

.tile-title {
    border: 1px solid #f2f2f2;
    padding: 1em;
    border-radius: 0 0 5px 5px;
    margin-top: -6px;
}

img.case-study-img {
  max-width:100%;
  height:auto;
}

@media (min-width: 750px) {
  img.case-study-img {
    min-height: 22em;
  }
}

.main-container {
  padding: 0;
}

.no-padding {
  padding: 0;  
}

.no-margin {
  margin: 0;
}

.card {
  border: 2px solid #f2f2f2;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 3px 3px #f2f2f2;
  margin-bottom: 2em;
  margin-top: 2em;
}

a.case-study-title {
  color: #000;
  text-decoration: none;
}

a.case-study-title:hover {
  color: #1EAEDB;
  text-decoration: none;
}

.footer-idp-logo {
  height: 7em;
}

.footer-apc-logo {
  height: 7em;
}

.footer-card-container {
  margin-left: 3%;
}
