<div class="tile">
  <a href="/cctv">
    <img class='case-study-img' src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fcctv_preview.png" alt="CCTV cameras in garment factories">
    <div class="tile-title">
      <h5>
        <a class='case-study-title' href='/cctv'>Caution! Women at Work: Surveillance in Garments Factories</a>
        </h5>
      <h6> class='center'>Nayantara Ranganathan - February 2017</h6>
      
      <p>
        Garment factory workers, predominantly women, work in stressful conditions in an exploitative industry where the pay is low. Read on to find out what CCTV cameras have done to the dramatic imbalance of power between workers and the factory management, and what role they can play in workers’ fight for an equitable workplace.
      </p>
    </div>
  </a>
</div>
