<div class="container u-full-width u-max-full-width">
  <footer>
    <div class="row">
      <div class="three columns first-footer-card-container">
        <div class='card card-white-bg footer-card'>
          <h6 class='bold'>More resources</h6>
          <p>
            Watch selected video clippings and listen to podcasts from workshops organised to discuss gendering surveillance. Browse translated material used in workshops for Hindi speaking participants.
          </p>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card card-white-bg footer-card'>
          <h6 class='bold'>Workshops</h6>
          <p>
            Browse details of workshops organised on the topic with different groups.
          </p>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card card-white-bg footer-card'>
          <h6 class='bold'>Contact</h6>
          
          <p>
            <a href="https://internetdemocracy.in/contact/"><img class='footer-idp-logo' src="http://i.imgur.com/8agvr6h.png" alt="Internet Democracy Project"></a>
          </p>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card card-white-bg footer-card'>
          <h6 class='bold'>With Thanks To</h6>
          <img class='footer-apc-logo' src="http://i.imgur.com/Cd0TDHc.jpg" alt="Association for Progressive Communications">
          <p>
            For their support.
          </p>
        </div>
      </div>
    </div>
    <div class = 'row'>
      <div class="twelve columns center">
        Licenced under Creative Commons BY 3.0 (unless otherwise specified).
      </div>
    </div>
  </footer>
</div>