<div class="container u-full-width u-max-full-width">
  <footer>
    <div class="row">
      <div class="three columns">
        <div class='card'>
          <h5 class='bold'>More resources</h5>
          <p>
            <ol>
              <li>Watch selected video clippings from workshops organised to discuss gendering surveillance</li>
              <li>Listen to podcasts produced from the discussions</li>
              <li>Browse <translated material> used in workshops for Hindi speaking participants</li>
            </ol>
          </p>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card'>
          <h5 class='bold'>Workshops</h5>
          <p>
            Browse details of workshops organised on the topic with different groups.
          </p>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card'>
          <h5 class='bold'>Contact</h5>
          <img class='footer-idp-logo' src="http://i.imgur.com/8agvr6h.png" alt="Internet Democracy Project">
          <dl>
            <dl>Email: <a href="mailto:anja@internetdemocracy.in">anja@internetdemocracy.in</a></dd>
            <dl>Website: <a href="https://internetdemocracy.in">internetdemocracy.in</a></dd>
            <dl>Twitter: <a href="https:/twitter.com/inetdemocracy">@inetdemocracy</a></dd>
            <dl>Facebook: <a href="https://facebook.com/internetdemocracy.in/">facebook.com/internetdemocracy.in/</a></dd>
          </dl>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card'>
          <h5 class='bold'>With Thanks To</h5>
          <img class='footer-apc-logo' src="http://i.imgur.com/Cd0TDHc.jpg" alt="Association for Progressive Communications">
          <p>
            This work has been made possible with the support of the Association for Progressive Communications.
          </p>
        </div>
      </div>
    </div>
    <div class = 'row'>
      <div class="four columns">&nbsp;</div>
      <div class="four columns"><hr>Licensed under Creative Commons BY 3.0 (unless otherwise specified).</div>
      <div class="four columns">&nbsp;</div>
    </div>
  </footer>
</div>