<div class="container u-full-width u-max-full-width">
  <footer>
    <div class="row">
      <div class="three columns first-footer-card-container">
        <div class='card card-white-bg footer-card'>
          <h6 class='bold'>And there is more….</h6>
          <p>
            Browse details of <a href="/workshops">workshops</a> on gender and surveillance, watch related <a href="/resources">video clippings or listen to podcasts</a>, and access material translated into Hindi on digital security and internet infrastructure.
          </p>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card card-white-bg footer-card'>
          <h6 class='bold'>Credits</h6>
          <ul class='footer-list'>
            <li>
              Research & writing: Dr. Anja Kovacs & Nayantara Ranganathan
            </li>
            <li>
              Illustrations: Shruthi Venkataraman
            </li>
            <li>
              Infographics: Tanvee Nabar
            </li>
            <li>
              Website: Shreyas Satish
            </li>
          </ul>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card card-white-bg footer-card'>
          <h6 class='bold'>Contact</h6>
          <p>
            <div class="row">
              <div class="six columns">
                <a href="https://internetdemocracy.in/contact/"><img class='footer-idp-logo' src="http://i.imgur.com/8agvr6h.png" alt="Internet Democracy Project"></a>
              </div>
              <div class="six columns">
                <p class='idppov'>which is an initiative at</p>
                <a href="http://pointofview.org/">
                  <img class='footer-pov-logo' src="/images/pov_logo.jpg"
                  alt="Point of View">
                </a>
              </div>
            </div>
          </p>
        </div>
      </div>
      <div class="three columns footer-card-container">
        <div class='card card-white-bg footer-card'>
          <h6 class='bold'>With thanks to</h6>
          <img class='footer-apc-logo' src="http://i.imgur.com/Cd0TDHc.jpg" alt="Association for Progressive Communications">
          <p>
            for their support.
          </p>
        </div>
      </div>
    </div>
    <div class = 'row'>
      <div class="twelve columns center">
        <p class='licence'>
          Licenced under Creative Commons BY 4.0 (unless otherwise specified).
        </p>
      </div>
    </div>
  </footer>
</div>
