<header>
  <nav class="nav">
    <div class='row'>
      <div class="three columns">&nbsp;</div>
      <div class='two columns logo-container'>
        <a href="/"><img class='logo' src="/images/home_icon.png" alt="Home"></a>
      </div>
      <div class='four columns'>
        <ul>
          <!-- <li><a href="/">Home</a></li> -->
          <li><a href="/intro">Introduction</a></li>
          <li><a href="/#case-studies">Case studies</a></li>
          <li><a href="/workshops">Workshops</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
  </nav>
</header>
