<div class="container u-full-width u-max-full-width no-padding">
  <header>
    <nav class="nav">
      <div class='row'>
        <!-- <div class="three columns"></div> -->
        <div id='logo-container' class='two columns offset-by-three logo-container'>
          <a href="/"><img class='logo' src="/images/home_icon.png" alt="Home"></a>
        </div>
        <div id ='nav-ul-container' class='four columns'>
          <ul id='nav-ul'>
            <li><a href="/intro">Introduction</a></li>
            <li><a href="/#case-studies">Case studies</a></li>
            <li><a href="/workshops">Workshops</a></li>
            <li><a href="/resources">Resources</a></li>
          </ul>
        </div>
        <div class="three columns"></div>
      </div>
    </nav>
  </header>
</div>