<div class="tile">
  <a href="/phone_ban">
    <img class="case-study-img" src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fphone_ban_preview.png" alt="Safety apps">
    <div class="tile-title">
      <h5 class='bold'>
        <a class='case-study-title' href='/phone_ban'>‘Chupke, Chupke’: Going Behind the Mobile Phone Bans in North India</a>
      </h5>
      <p>
        Since 2010, a number of khap panchayats across north India have pronounced bans on mobile phone use for young women. What drives such orders? Are they really effective? And how do young women themselves respond to the bans and the underlying anxieties? We went to Haryana and western UP to find out.
      </p>
    </div>
  </a>
</div>
