<div class="tile">
  <a href="/safety-app">
    <img class='case-study-img' src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fsafety_apps_preview.png" alt="Safety apps">
    <div class="tile-title">
      <h5 class='bold'>
        <a class='case-study-title' href='/safety-app'>A Handy Guide to Decide How Safe That Safety App Will Really Keep You</a>
      </h5>
      <p>
        Imagine a world where an army of women’s safety apps scoops you away from danger, and delivers you to safety? That’s the promise made by these apps. How well do they measure up against their own claims? Let’s look at a cackle of apps that act as surveillance assistants, leak your data and look smug, while purporting to keep you safe.
      </p>
    </div>
  </a>
</div>
