---
title: Welcome to Middleman
---

<div class="container u-full-width u-max-full-width">
  <header>
    <div class="row">
      <section class='banner'>
        <div class="three columns">.</div>
        <div class="six columns">
          <h1>Gendering Surveillance</h1>
          <p class='intro-text title-background'>
            With surveillance powers of the Indian government and its agencies continuously expanding through legal and extra­legal initiatives, secure communications and strong protections of the right to privacy ­ currently absent in India ­ have become all the more important. However, activists have generally struggled to get this message across to broader audiences effectively, including to women human rights defenders, and support for their calls for stronger privacy protections and other measures is growing only slowly
          </p>
          <a href="#case-studies" class="bold button button-primary">See case studies</a>
        </div>
        <div class="three columns">.</div>
      </section>
    </div>
  </header>
</div>

<div class="container u-full-width u-max-full-width">
  <main>
    <div class="row">
      <section class='case-studies' id ='case-studies'>
        <div class="row">
          <div class="three columns">&nbsp;</div>
          <div class="six columns">
            <h2 class='case-studies'>Case studies</h2>
          </div>
          <div class="three columns">.</div>
        </div>
      <div class="four columns tile-container">
        <div class="tile phone-ban">
          <h4 class='title-background'>Going behind mobile phone bans in north India</h4>
          <a class="button button-primary">Read case study</a>
        </div>
      </div>
      <div class="four columns tile-container">
        <div class="tile safety-app">
          <h4 class='title-background'>Is your saviour downloadable?</h4>
          <a class="button button-primary" href='/safety-app'>Read case study</a>
        </div>
      </div>
      <div class="four columns tile-container">
        <div class="tile garment-bg">
          <h4 class='title-background'>CCTV cameras in garment factories</h4>
          <a class="button button-primary">Read case study</a>
        </div>
      </div>
      </section>
    </div>
    <section class="big-data">
      <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="six columns">
          <h2 class='center'>A report on big data</h2>
          <div class="title-background">
            <p class='bigger bold'>The case studies do not begin to cover the broad swathe of the intersections in gender and surveillance. The big elephant in the room remains Big Data and the biases come with large databases that are seemingly neutral.</p>
            <p class='center'>
              <a href="#" class='button button-primary'>Read more</a>
            </p>
          </div>
        </div>
        <div class="three columns">&nbsp;</div>
      </div>
    </section>
  </main>
</div>
