---
title: Welcome to Middleman
---

<div class="container u-full-width u-max-full-width no-padding">
  <header>
    <div class="row">
      <div class="twelve columns">
        <img class='banner-img' src='/images/banner.jpg' alt="">    
      </div>
    </div>
  </header>
</div>

<div class="container u-full-width u-max-full-width">
  <main class='index'>
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class="six columns">
        <h2 class="section-header"><a href="/intro/">Introduction</a></h2>
        <div class='card'>
          <div class="intro-text">
            <section class="case-study-content">
              <%= google_doc('1YImTrRfR1bTHkm37jq-ehVDNyyZxSaCM84z7-BepuMw') %>
            </section>
          </div>
        </div>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
    <div class="row">
      <section class="case-studies" id="case-studies">
        <div class="row">
          <div class="three columns">&nbsp;</div>
          <div class="six columns">
            <h2 class="section-header">Case studies</h2>
          </div>
          <div class="three columns">&nbsp;</div>
        </div>
        <div class="four columns tile-container">
          <div class="tile">
            <img class="case-study-img" src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fphone_ban_preview.png" alt="Safety apps">
            <div class="tile-title">
              <h5>
                <a class='case-study-title' href='/phone_ban'>Going behind mobile phone bans in north India</a>
              </h5>
              <p>
                Since 2010, a number of khap panchayats across north India have pronounced bans on mobile phone use for young women. What drives such orders? Are they really effective? And how do young women themselves respond to the bans and the underlying anxieties? We went to Haryana and western UP to find out.
              </p>
            </div>
          </div>
        </div>
        <div class="four columns tile-container">
          <div class="tile">
            <a href="/safety-app">
              <img class='case-study-img' src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fsafety_apps_preview.png" alt="Safety apps">
              <div class="tile-title">
                <h5>
                  <a class='case-study-title' href='/safety-app'>Is your saviour downloadable?</a>
                </h5>
                <p>
                  Imagine a world where an army of women’s safety apps scoops you away from danger, and delivers you to safety? That’s the promise made by these apps. How well do they measure up against their own claims? Let’s look instead at a cackle of apps that act as surveillance assistants, leak your data and look smug, while purporting to keep you safe.
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="four columns tile-container">
          <div class="tile">
            <a href="/cctv">
              <img class='case-study-img' src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fcctv_preview.png" alt="CCTV cameras in garment factories">
              <div class="tile-title">
                <h5>
                  <a class='case-study-title' href='/cctv'>CCTV cameras in garment factories</a>
                </h5>
                <p>
                  Garment factory workers, predominantly women, work in stressful conditions in an exploitative industry where the pay is low. Read on to find out what CCTV cameras have done to the dramatic imbalance of power between workers and the factory management, and what role they can play in workers’ fight for an equitable workplace.
                </p>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
<!--     <section class="big-data">
      <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="six columns">
          <div class='card'>
            <h2 class='center'>A report on big data</h2>
            <div>
              <p class='bigger'>The case studies do not begin to cover the broad swathe of the intersections in gender and surveillance. The big elephant in the room remains Big Data and the biases come with large databases that are seemingly neutral.</p>
              <p class='center'>
                <a href="#" class='button button-primary'>Read more</a>
              </p>
            </div>
          </div>
        </div>
        <div class="three columns">&nbsp;</div>
      </div>
    </section>
 -->  </main>
</div>
