---
title: Welcome to Middleman
---

<div class="container u-full-width u-max-full-width no-padding">
  <header>
    <div class="row">
      <div class="twelve columns">
        <img id='banner-img' class='banner-img' src='/images/banner.jpg' alt="">    
      </div>
    </div>
  </header>
</div>
<div class="container u-full-width u-max-full-width">
  <main class='index'>
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class="six columns">
        <h2 class="section-header">Introduction</h2>
        <div class='card card-white-bg intro-card'>
          <div class="intro-text">
            <section class="case-study-content">
            <p>
              While the surveillance powers of the Indian government and its agencies are continuously expanding, most people still seem to think that this is not something that affects them. If you have not done anything wrong, you have nothing to hide, right?
            </p>
            <p>
              Not quite. And women would know. Although the digital age may have further deepened the scrutiny to which women are subjected, women have always been under stringent surveillance - by actors ranging from partners and parents to the state. And this has shaped, and harmed, women’s lives in multiple ways.
            </p>
            <p>
              What can be learned about surveillance from gendering it, then? And what do these insights imply for the fight for stronger human rights protections in the face of surveillance more broadly?
            </p>
            <p>
              Welcome to Gendering Surveillance.
            </p>
            <p class='center'>
              <a class='button button-primary intro-button' href="/intro">Read more</a>
            </p>
            </section>
          </div>
        </div>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
    <div class="row case-studies-bg">
      <section class="case-studies" id="case-studies">
        <div class="row">
          <div class="three columns">&nbsp;</div>
          <div class="six columns">
            <h2 class="section-header">Case studies</h2>
          </div>
          <div class="three columns">&nbsp;</div>
        </div>
        <div class="four columns tile-container">
          <%= partial 'phone_ban_card' %>
        </div>
        <div class="four columns tile-container">
          <%= partial 'safety_app_card' %>
        </div>
        <div class="four columns tile-container">
          <%= partial 'cctv_card' %>
        </div>
      </section>
    </div>
<!--     <section class="big-data">
      <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="six columns">
          <div class='card card-white-bg'>
            <h2 class='center'>A report on big data</h2>
            <div>
              <p class='bigger'>The case studies do not begin to cover the broad swathe of the intersections in gender and surveillance. The big elephant in the room remains Big Data and the biases come with large databases that are seemingly neutral.</p>
              <p class='center'>
                <a href="#" class='button button-primary'>Read more</a>
              </p>
            </div>
          </div>
        </div>
        <div class="three columns">&nbsp;</div>
      </div>
    </section>
 -->  </main>
</div>

<% content_for :scripts do %>
  <script>
  </script>
<% end %>
