---
title: Welcome to Middleman
---

<div class="container u-full-width u-max-full-width no-padding">
  <header>
    <div class="row">
      <div class="twelve columns">
        <img class='banner-img' src='/images/website-header-Intro-6.1.jpg' alt="">    
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </header>
</div>

<div class="container u-full-width u-max-full-width">
  <main>
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class="six columns">
        <h2 class="case-studies">Introduction</h2>
        <div class='card'>
          <p class="intro-text">
            With surveillance powers of the Indian government and its agencies continuously expanding through legal and extra­legal initiatives, secure communications and strong protections of the right to privacy ­ currently absent in India ­ have become all the more important. However, activists have generally struggled to get this message across to broader audiences effectively, including to women human rights defenders, and support for their calls for stronger privacy protections and other measures is growing only slowly
          </p>
        </div>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
    <div class="row">
      <section class="case-studies" id="case-studies">
        <div class="row">
          <div class="three columns">&nbsp;</div>
          <div class="six columns">
            <h2 class="case-studies">Case studies</h2>
          </div>
          <div class="three columns">&nbsp;</div>
        </div>
        <div class="four columns tile-container">
          <div class="tile">
            <img class="case-study-img" src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fphone_ban_preview.png" alt="Safety apps">
            <div class="tile-title">
              <h5>
                <a class='case-study-title' href='/phone_ban'>Going behind mobile phone bans in north India</a>
              </h5>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
        <div class="four columns tile-container">
          <div class="tile">
            <a href="/safety-app">
              <img class='case-study-img' src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fsafety_apps_preview.png" alt="Safety apps">
              <div class="tile-title">
                <h5>
                  <a class='case-study-title' href='/safety-app'>Is your saviour downloadable?</a>
                </h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="four columns tile-container">
          <div class="tile">
            <a href="/cctv">
              <img class='case-study-img' src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fcctv_preview.png" alt="CCTV cameras in garment factories">
              <div class="tile-title">
                <h5>
                  <a class='case-study-title' href='/cctv'>CCTV cameras in garment factories</a>
                </h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
<!--     <section class="big-data">
      <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="six columns">
          <div class='card'>
            <h2 class='center'>A report on big data</h2>
            <div>
              <p class='bigger'>The case studies do not begin to cover the broad swathe of the intersections in gender and surveillance. The big elephant in the room remains Big Data and the biases come with large databases that are seemingly neutral.</p>
              <p class='center'>
                <a href="#" class='button button-primary'>Read more</a>
              </p>
            </div>
          </div>
        </div>
        <div class="three columns">&nbsp;</div>
      </div>
    </section>
 -->  </main>
</div>
