---
layout: layout
title: Welcome to Middleman
---
<div class="container u-full-width u-max-full-width">
  <header>
      <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="six columns">
          <h5 class='sub-page-site-header'>
<!--             <a href="/">
              <img class='nav-home' src="/images/home.png" alt="">
            </a>
 -->          </h5>
        </div>
        <div class="three columns">&nbsp;</div>
      </div>
      <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="six columns">
          <img class='cctv-cover' src="/images/phone_ban.jpg" alt="">
        </div>
        <div class="three columns">&nbsp;</div>
      </div>
  </header>
</div>
<div class="container u-full-width u-max-full-width">
  <main>
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class="six columns">
        <section class="case-study-content" id='case-study'>
          <%= google_doc('1iy0COTa6iXO0uA_n4M_ibxonFLCGdH3rIV3yLeJHT3g') %>
        </section>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
  
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class="five columns center">
        <h4 class='read-next'>Read next</h4>
      </div>
      <div class="four columns">&nbsp;</div>
    </div>
    <section class="case-studies" id="case-studies">
      <div class="row">
        <div class="two columns tile-container">&nbsp;</div>
        <div class="four columns tile-container">
          <div class="tile">
            <img class="case-study-img" src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fphone_ban_preview.png" alt="Safety apps">
            <div class="tile-title">
              <h5>
                <a class='case-study-title' href='/'>Going behind mobile phone bans in north India</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="four columns tile-container">
          <div class="tile">
            <a href="/safety-app">
              <img class='case-study-img' src="https://cdn.gomix.com/45fa7fae-d274-4735-b1e0-edd5ae91bfe6%2Fsafety_apps_preview.png" alt="Safety apps">
              <div class="tile-title">
                <h5>
                  <a class='case-study-title' href='/safety-app'>Is your saviour downloadable?</a>
                </h5>
              </div>
            </a>
          </div>
        </div>
        <div class="two columns tile-container">&nbsp;</div>
      </div>
    </section>
  </main>
</div>
