---
title: More resources
---
<%= partial "nav" %>
<br><br>
<div class="container u-full-width u-max-full-width">
  <main>
    <div class='row'>
      <div class="three columns">&nbsp;</div>
      <div class='six columns center'>
        <h2 class='workshops-header bold'>More resources</h2>
        <p class='left-align bigger'>Browse selected talks from the workshops we conducted with different groups on the topic of gender and surveillance.</p>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
    <br>
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class='six columns'>
        <% data.resources.resources.each do |resource| %>
          <div class='row'>
            <div class='twelve columns center'>
              <h4><%= resource.title %></h4>
            </div>
          </div>
          <div class='row'>
            <div class='twelve columns'>
              <iframe width="100%" height="415" src=<%="https://www.youtube.com/embed/" + resource.youtube_id%> frameborder="0" allowfullscreen></iframe>
              <br /><br /><br />
            </div>
          </div>
       <% end %>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
  </main>
</div>
