---
layout: layout
title: Welcome to Middleman
---
<div class="container u-full-width u-max-full-width no-padding">
  <header>
    <section class='banner safety-app-banner'>
      <div class="row">
        <div class="three columns">.</div>
        <div class="six columns">
          <h5 class='sub-page-site-header'><a href="/">Gendering Surveillance</a></h5>
        </div>
        <div class="three columns">.</div>
      </div>
      <div class="row">
      <div class="three columns">.</div>
      <div class="six columns">
        <h1>Is your saviour downloadable?</h1>
        <p class='intro-text title-background'>
          With surveillance powers of the Indian government and its agencies continuously expanding through legal and extra­legal initiatives, secure communications and strong protections of the right to privacy ­ currently absent in India ­ have become all the more important. However, activists have generally struggled to get this message across to broader audiences effectively, including to women human rights defenders, and support for their calls for stronger privacy protections and other measures is growing only slowly
        </p>
        <p class='center'>
          <a href="#case-study" class="bold button button-primary">Read</a>
        </p>
      </div>
      <div class="three columns">&nbsp;</div>
      </div>
    </section>
  </header>
</div>
<div class="container u-full-width u-max-full-width">
  <main>
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class="six columns">
        <section class="case-study-content" id='case-study'>
          <%= google_doc('181sIeDz16VDDvCgoXfrqbF-2lbXwt-F8hzgjn3-12DM') %>
        </section>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
  
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class="six columns center">
        <h4 class='read-next'>Read next</h4>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
    <div class="row">
      <section class='case-studies'>
      <div class="four columns tile-container">
        <div class="tile phone-ban">
          <h4 class='title-background'>Going behind mobile phone bans in north India</h4>
          <a class="button button-primary">Read case study</a>
        </div>
      </div>
      <div class="four columns tile-container">
        <div class="tile garment-bg">
          <h4 class='title-background'>CCTV cameras in garment factories</h4>
          <a class="button button-primary">Read case study</a>
        </div>
      </div>
      <div class="four columns tile-container">
        <div class="tile title-background">
          <h4>Big Data</h4>
          <p>The case studies do not begin to cover the broad swathe of the intersections in gender and surveillance. The big elephant in the room remains Big Data and the biases come with large databases that are seemingly neutral.</p>
          <a class="button button-primary">Read</a>
        </div>
      </div>
      </section>
    </div>
  </main>
</div>
